<h2>{{{id}}}</h2>
<h2>{{{name}}}</h2>
<h3>{{{price}}}</h3>
<h1>{{{oriPrice}}}</h1>
{{#each imgsURL}}
<img src="{{{this}}}">
{{/each}}
<form method="post" action="./{{{id}}}" enctype="multipart/form-data">
    <h3>Checkboxes</h3>
    <p>What would you like for lunch?</p>
    <input type="checkbox" name="name" value="{{{name}}}"> {{{name}}}
    <br>
    <input type="checkbox" name="id" value="{{{id}}}"> {{{id}}}
    
    <p><input type="submit" value="Submit"></p>
</form>